/* Root Colors */
:root {
  --color-background-light: #ffffff;
  --color-background-dark: #121212; /* Darker dark mode */
  --color-text-light: #1a202c;
  --color-text-dark: #ffffff;
  --color-card-light: #f7fafc;
  --color-card-dark: #2d3748;
  --color-primary-light: #4c6ef5;
  --color-primary-dark: #5a67d8;
  --color-button-light: #edf2f7;
  --color-button-dark: #4a5568;
  --font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background-light);
  color: var(--color-text-light);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

.App {
  text-align: center;
  padding: 4rem;
  transition: padding 0.3s ease;
}

.graph,
.form {
  background-color: var(--color-card-light);
  color: var(--color-text-light);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

body.dark-mode .graph,
body.dark-mode .form {
  background-color: var(--color-card-dark);
  color: var(--color-text-dark);
}

button {
  border: none;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px;
  background-color: var(--color-primary-light);
  color: var(--color-text-dark);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
  background-color: var(--color-primary-dark);
  transform: scale(1.1);
}

body.dark-mode button:hover {
  background-color: var(--color-primary-light);
}

.graph:hover,
.form:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-content {
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .App {
    padding: 2rem;
  }

  .graph,
  .form {
    padding: 1rem;
  }

  .button-container {
    padding: 10px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-align: left;
  font-size: 2rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
